html, body, div,
h1, h2, h3, h4, h5, h6, p,
a, img,
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.working_place {
    margin-left: 20%;
    background-color: #4DD7FA;
    width: 1100px;
    height: 700px;
    border: 5px solid #72BB53
}

.menu {
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 600px;
    float: left;
}

.header {
    color: #0844A4;
}

.icon {
    margin: 15px;
}

.username input {
    background-color: #AEDD94;
    width: 150px;
    height: 35px;
    border: 3px solid #033076;
    border-radius: 10px;
    margin-top: 20px;
    margin: 10px;
    padding: 13px;
    float: left;
}

.check {
    float: right;
    margin-top: 15px;
    visibility : hidden
}

.server_status {
    background-color: #AEDD94;
    width: 90px;
    height: 30px;
    border: 3px solid #033076;
    border-radius: 10px;
    margin-top: 15px;
    padding: 15px;
    float: left;
    font-size: 17;
}

.server_success {
    margin-top: 15px;
    float: right;
}

.server_unsuccess {
    margin-top: 15px;
    float: right;
}

.messages {
    float: right;
}

.message_box {
    min-height: 420px;
    background-color: #FEFCE0;
    width: 750px;
    height: 420px;
    border: 3px solid #72BB53;
    margin: 20px;
    overflow-y: scroll;
    overflow: auto;
}

.enter_message {
    padding: 13px 0px;
    margin-left: 20px;
    clear: both;
}

.enter_message input {
    border: 3px solid #72BB53;
    padding: 10px 12px;
    width: 750px;
    height: 150px;
    border-radius: 2px;
    margin: 10px;
    clear: both;
}

.this_message .this_name {
    font-weight: bold;
    font-size: 110%;
}
.this_message .this_text {
    border: 2px solid #0844A4;
    background: #fff;
    display: inline-block;
    padding: 13px;
    width: 450px;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    position: relative;
    margin: 20px;
    font-weight: normal;
    word-wrap: break-word;
}

.this_message .this_icon {
    margin-left: 20px;
    margin-top: 25px;
    float: left;
}

.op_icon {
    margin-right: 15px;
    margin-top: 20px;
    float: right;
}

.op_text_div {
    border: 2px solid #0844A4;
    background: #fff;
    display: inline-block;
    padding: 13px;
    width: 450px;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    position: relative;
    margin: 20px;
    margin-left: 160;
}

.button_send {
    height: 30;
    width: 140;
    margin-right: 45px;
    float: right;
    text-align: center;
    background: #3D8AF7;
    border: 3px solid #0844A4;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
}

.button_submit {
    background-color: #C9F1FD;
    width: 85px;
    height: 35px;
    border: 3px solid #0844A4;
    border-radius: 15px;
    margin-left: 45px;
    font-size: 16px;
    cursor: pointer;
}

.edit_delete {
    margin-top: 10px;
}

html {
    height: 100%;
}

.wrapper {
    width: 100%;
    min-width: 960px;
    min-height: 660px;
    height: auto;
    height: 100%;
}
